<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>EGL - ML Challenges</title>

    <link type="text/css" rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css" >
    <link type="text/css" rel="stylesheet" href="vendor/fontawesome-free/css/all.min.css">
    <link type="text/css" rel="stylesheet" href="vendor/foundation-icons/foundation-icons.css">
    <link type="text/css" rel="stylesheet" href="resources/css/custom-style.css">

    <script type="text/javascript" src="vendor/jquery/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="resources/js/http_resonse.js"></script>

    <style>
        body, html {
            height: 100%;
        }
        .bg  {
            background-image: url("resources/images/bg.png");
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .bgChat  {
            background-image: url("resources/images/chat-bg.png");
            height: 100%;
            width: 100%;
            background-repeat: repeat;
        }
    </style>
</head>

<body>

<!-- Navbar : Header -->
<nav class="navbar navbar-expand nav-header">
    <a class="navbar-brand mr-1" href="#">EGL - ML Challenges</a>
    <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <ul class="navbar-nav ml-auto ml-md-0">
            <a class="nav-link" href="#">Predictive Modelling</a>
        </ul>
    </div>
</nav>

<div class="bg">
    <div class="col-md-5 col-md-offset-4">
        <br>
        <div class="card card-chatbot mx-auto">
            <div class="card-header text-center"><strong>Diabetes Predictive Model</strong></div>

            <div class="card-body bgChat">

                <div class="speak_box">
                    <div class="answer">
                        <div class="answer_text">
                            <p>Hi, write payload of one record and it will return the prediction for that record. For example,
                                <br> One prediction: 4
                                <br> Multiple predictions seperated by comma: 4, 7, 19
                            </p>
                        </div>
                    </div>
                </div>

                <div class="text-left">
                    <a class="d-block mt-3">Enter a record: </a>
                </div>
                <div class="right-inner-addon chat_box">
                    <i class="fi-male-female"></i>
                    <input class="form-control" type="text" onKeyUp="key_up()"/>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(document).keydown(function (event) {
            if (event.keyCode == 13) {
                send_payload();
            }
        });
        $('.chat_box input').focus();
    });
</script>

</body>
</html>
